Repository fusionary/web-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix config
  packages/github/package.json
  packages/storybook/package.json
  packages/storybook/tsconfig.json
Due: prettier --write

normalizing more things
  packages/storybook/package.json
Due: prettier --write

add missing files
  packages/eslint/package.json
  packages/prettier/package.json
Due: prettier --write

fix actrc
  .actrc
Due: none

fix ci
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/github/.lintstagedrc.json
  tooling/github/package.json
  tooling/github/setup/action.yml
Due: prettier --write

changes for next
  packages/eslint/next.mjs
  packages/eslint/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

attempt to export types
  packages/eslint/package.json
Due: prettier --write

v5.0.1
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

another attempt to fix next eslint config
  packages/eslint/next.mjs
Due: prettier --write, eslint --fix

turn off duplicate eslint rule
  packages/eslint/eslint.config.mjs
Due: prettier --write, eslint --fix

v5.0.2
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

add @storybook/addon-designs package
  packages/storybook/package.json
  packages/storybook/src/main.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

update packages
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

v5.1.0
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

tweaks to storybook config
  packages/storybook/src/main.ts
Due: prettier --write, eslint --fix

update packages and version bump
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write

use parcel to bundle storybook config
  .vscode/settings.json
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/.parcelrc
  packages/storybook/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write

fix export
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

export additional type
  packages/storybook/src/preview.ts
Due: prettier --write, eslint --fix

5.1.4
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

preview: using peer deps
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

attempt to resolve modules differently
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/storybook/src/main.ts
  packages/tsconfig/package.json
Due: prettier --write, eslint --fix

try require.resolve
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/storybook/src/main.ts
  packages/tsconfig/package.json
Due: prettier --write, eslint --fix

trying something else
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/storybook/src/main.ts
  packages/tsconfig/package.json
Due: prettier --write, eslint --fix

simplify to make it work
  packages/storybook/src/main.ts
Due: prettier --write, eslint --fix

5.1.5
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

fix issues with bundled types
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
Due: prettier --write

remove eslint tailwind plugin
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  package.json
  packages/eslint/eslint.config.mjs
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: setting up for release-please
  .release-please-manifest.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  release-please-config.json
Due: prettier --write, eslint --fix

ci: add release-please config
  .github/workflows/release-please.yml
Due: none

feat(eslint): tweak eslint config for object sorting
  packages/eslint/eslint.config.mjs
Due: prettier --write, eslint --fix

chore: release main
  .release-please-manifest.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: prettier --write

chore: add prettierignore
  packages/eslint/.prettierignore
  packages/prettier/.prettierignore
  packages/storybook/.prettierignore
  packages/tsconfig/.prettierignore
Due: none

feat(storybook)!: upgrade to storybook 9
  packages/storybook/package.json
  packages/storybook/src/main.ts
  packages/storybook/src/preview.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: sync package versions
  packages/eslint/package.json
  packages/prettier/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set storybook version
  .release-please-manifest.json
Due: prettier --write

chore: release main
  .release-please-manifest.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --write

fix(storybook): remove some unused addons
  packages/storybook/src/main.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{js,ts,tsx,cjs,mjs})
  eslint --fix: any of: *.{js,ts,tsx,cjs,mjs}
