Repository fusionary/web-configs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(storybook): more tweaks to installed addons
  packages/storybook/package.json
  packages/storybook/src/main.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: release main
  .release-please-manifest.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --write

fix(storybook): remove another addon
  packages/storybook/package.json
  packages/storybook/src/main.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(storybook): add missing docs dep
  packages/storybook/package.json
  packages/storybook/src/main.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(storybook): move dependency
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(eslint): disable unicorn/no-useless-undefined
  packages/eslint/eslint.config.mjs
Due: prettier --write, eslint --fix

chore: release main
  .release-please-manifest.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: prettier --write

feat: add react compiler eslint plugin
  packages/eslint/package.json
  packages/eslint/react.mjs
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: add storybook plugin
  packages/storybook/package.json
  packages/storybook/src/main.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update packages
  package.json
  packages/eslint/eslint.config.mjs
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update pnpm
  package.json
Due: prettier --write

chore: basic package upgrades
  .nvmrc
  package.json
  packages/eslint/package.json
  packages/prettier/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: set types as first export
  packages/eslint/package.json
  packages/storybook/package.json
Due: prettier --write

feat!: update lots of dependencies
  packages/eslint/eslint.config.mjs
  packages/eslint/package.json
  packages/eslint/react.mjs
  packages/eslint/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: release main
  .release-please-manifest.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: prettier --write

fix: resolve storybook package.json issues
  packages/storybook/package.json
Due: prettier --write

fix: spelling
  packages/storybook/package.json
Due: prettier --write

fix: normalize rules
  packages/eslint/next.mjs
  packages/eslint/react.mjs
Due: prettier --write, eslint --fix

feat: update react hooks eslint
  packages/eslint/package.json
  packages/eslint/react.mjs
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: update packages
  packages/eslint/package.json
Due: prettier --write

fix: resolve issue with react config
  packages/eslint/react.mjs
Due: prettier --write, eslint --fix

chore: fix lockfile
  pnpm-lock.yaml
Due: none

feat(storybook)!: storybook 10
  packages/eslint/eslint.config.mjs
  packages/eslint/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(storybook): mark package as module
  packages/storybook/package.json
Due: prettier --write

fix(storybook): try different config approach
  packages/storybook/.parcelrc
  packages/storybook/package.json
  packages/storybook/src/index.ts
Due: prettier --write, eslint --fix

fix(storybook): remove dep
  packages/storybook/package.json
Due: prettier --write

fix(storybook): restore accidentally deleted file
  packages/storybook/.parcelrc
Due: none

fix(storybook): tweak build
  packages/storybook/.parcelrc
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.{js,ts,tsx,cjs,mjs})
  eslint --fix: any of: *.{js,ts,tsx,cjs,mjs}
